{% extends "layout.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
{% if messages %}
<ul style="list-style-type: none;">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
        <h1>Анализатор страниц</h1>
        <p>Бесплатно проверяйте сайты на SEO-пригодность</p>
        <form action="{{ url_for('urls_post') }}" method="post">


                <label class="sr-only">Заполните это поле</label>
                <input type="text" name="url" value="{{ url|default('') }}" required placeholder="https://www.example.com">

            <input type="submit" value="Confirm">
            
        </form>
    </div>
</div>
{% endblock %}